<!doctype html>
<html>
	<head>
		<title>Radar Chart</title>
		<meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
	</head>
	<body>
	<canvas id="xxCanvas" height="450" width="450">aaaaa</canvas>
		<script type="text/javascript" src="./Chart.js"></script>
	<script type="text/javascript">
		var pieData = [
				{
					value: 30,
					color:"#F38630"
				},
				{
					value : 50,
					color : "#E0E4CC"
				},
				{
					value : 100,
					color : "#69D2E7"
				}
			
			];


		var canvas=document.getElementById('xxCanvas');
		if(!canvas){
			alert("Error...");
		}
		else{
			alert("1.Go on...");
		}
		var ctx=canvas.getContext('2d');
		if(!ctx){
			alert("Error...");
		}
		else{
			alert("2.Go on...");
		}

		var chart = new Chart(ctx);
		if(!chart){
			alert("Error...");
		}
		else{
			alert("Go on...");
		}
		var myPie = chart.Pie(pieData);

		
	</script>
	</body>
</html>
